<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Om prosjektet</h2>
        <hr class="fa-droplet">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I et krisescenario hvor Mjøsa ikke lenger er en trygg drikkevannskilde for beboerne i området er det viktig å tilby dem god informasjon.</p>
      </div>
      <div class="col-lg-4">
        <p>Med dette prosjektet ønsker vi å utvikle denne siden som en plattform for informasjon fra helsemyndigheter, kommunaltekniske etater og andre aktører</p>
      </div>
    </div>
  </div>
</section>
